.git
.gitignore
__pycache__/
*.pyc
.pytest_cache/

datasets/
data/*
!data/splits/
!data/splits/**
data/splits/**/dataset_dist_*.pkl
logs/
artifacts/
models/
weights/
.cache/
gpu_plots/

*.ipynb
*.pdf
*.mp4
