__pycache__/
/results/
/diffusion/__pycache__/
/logs/
.vscode/
.ipynb_checkpoints/
/models/
/nwm/data/
data_splits/**/dataset*.pkl
/data/*
!/data/splits/
!/data/splits/**
/data/splits/**/dataset_dist_*.pkl
/datasets/
/cdit_s_100000.pth.tar
/artifacts/*
!artifacts/profiling/
!artifacts/profiling/**
/artifacts/profiling/**/*.log
/artifacts/profiling/**/*.pid
/artifacts/profiling/raw/
.cache/
/weights/
